<h1><%= @collection.title %></h1>

<p><%= link_to "Edit Collection", edit_collection_path %></p>
<p><%= link_to 'Delete Collection', @collection, method: :delete, data: {confirm: 'Are you sure you want to delete this topic?'} %></p>

<p><%= link_to 'New Movie', new_collection_movie_path(@collection) %></p>
<p><% @collection.movies.each do |movie| %>
  <%= link_to movie.title, [@collection, movie] %>
<% end %></p>