<h1><%= @movie.title %></h1>
<p>Format: <%= @movie.format %></p>
<p>Length: <%= format("%2d hr %02d min", @movie.length/60, @movie.length % 60 ) %></p>
<p>Year: <%= @movie.year %></p>
<p>Rating: <%= @movie.rating %></p>


<p><%= link_to "Edit Movie", edit_collection_movie_path(@collection, @movie) %></p>
<p><%= link_to "My Collection", @collection %></p>
<p><%= link_to "Delete Movie", [@collection, @movie], method: :delete, data: {confirm: 'Are you sure you want to delete this movie?'} %></p>