<div class="container">
  <h1 class="align-glyphicon"><%= @movie.title %></h1>
    <% if current_user %>
      <p class="align-glyphicon">
        <%= link_to edit_collection_movie_path(@collection, @movie), class: 'btn btn-mini' do %>
          <i class="glyphicon glyphicon-pencil"></i>
        <% end %>
      </p>
      <p class="align-glyphicon">
        <%= link_to [@collection, @movie], method: :delete, data: {confirm: 'Are you sure you want to delete this movie?'}, class: 'btn btn-mini' do %>
          <i class="glyphicon glyphicon-remove"></i>
        <% end %>
      </p>
    <% end %>
  <p><b>Format:</b> <%= @movie.format %></p>
  <p><b>Length:</b> <%= time_convert %></p>
  <p><b>Year:</b> <%= @movie.year %></p>
  <p><b>Rating:</b> <%= @movie.rating %></p>


  <p class="align-glyphicon">
    <%= link_to "Back", @collection, class: 'btn btn-primary', data: { no_turbolink: true } %>
  </p>
</div>