<!DOCTYPE html>
<html>
<head>
  <title>AjayMovieManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Arimo|Josefin+Slab:400,600,700', :media => "all" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="pull-right user-info">
     <% if current_user %>
       Hi <%= current_user.name.capitalize %> <%= link_to edit_user_registration_path, class: 'btn btn-mini' do %>
              <i class="glyphicon glyphicon-edit"></i>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-mini' do %>
              <i class="glyphicon glyphicon-log-out"></i>
            <% end %>
     <% else %>
       <%= link_to "Sign In", new_user_session_path %> or 
       <%= link_to "Sign Up", new_user_registration_path %>
     <% end %>
    </div>

    <%= render 'partials/flash_messages' %>

    <%= yield %>
  </div>

</body>
</html>
